*.ammdb
*.rpt
*.done
*.smsg
*.summary
*.sof
*.kpt
*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.cbx.xml
*.bpm
*.idb
*.logdb
*.hsd
*.db_info
*.hif
*.hier_info
*.dat
*.dpi
*.dfp
*.ipinfo
*.sci
*.tdb
*.tmw_info
*.rcfdb
*.hb_info
*.sft
*.vo
*.sdo
*.xrf
*.srf
*.bak
*.flock
*.qws
*.jic
*.lpc.txt
*.lpc.html
*.smart_action.txt
*.hbdb.sig
output_file.map
*.pof
*.sof
*.tdf
*.qdf
